.content {
  width: 100%;
  height: 100vh;
  background-image: url("../../../assets/contentBack.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(8px);
  position: relative;
}
.content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0; /* добавьте, чтобы покрыть всю область */
  width: 100%;
  height: 100%;
  opacity: 0.8; /* прозрачность вуали */
  background-color: black; /* цвет вуали */
  pointer-events: none
}

.content_list {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Центровка по горизонтали */
  gap: 15px; /* Отступы между кнопками */
  margin: 0 auto; /* Центровка самого блока */
  width: 80%; /* Ширина по содержимому (или 100% при необходимости) */
  padding-top: 20px;
  height: 50%;
  padding-bottom: 30px;
  z-index: 1000;
  transform: translateX(-50%);
}

.content_list li {
  list-style: none;
  width: 100%;
}
.content_list li:last-child {
  margin-top: auto;
  animation: pulse 2s infinite;
}

/* Определение анимации пульсации */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1); /* немного увеличиваем размер */
    opacity: 0.7; /* чуть уменьшаем прозрачность */
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
