/* src/components/Button.css */
.btn {
  padding: 0.5rem 1.2rem;
  font-weight: 600;
  border: solid 2px var(--green-club);
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
  outline: none;
  display: inline-block;
  width: 100%;
  font-family: var(--main-font);
  color: var(--green-club);
}

/* Черная кнопка */
.btn--black {
  background-color: var(--black);
}
.btn--black:hover {
  background-color: #333;
}
.btn--black:active {
  transform: scale(0.98);
  background-color: #111;
}
.btn--black:focus {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
}

/* Зелёная кнопка */
.btn--green {
  background-color: var(--green);
  color: black;
}
.btn--green:hover {
  background-color: #218838;
}
.btn--green:active {
  transform: scale(0.98);
  background-color: #1e7e34;
}
.btn--green:focus {
  box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.4);
}

/* Белая кнопка */
.btn--white {
  background-color: white;
  color: var(--green);
  border: 1px solid #ccc;
}
.btn--white:hover {
  background-color: #f2f2f2;
}
.btn--white:active {
  transform: scale(0.98);
  background-color: #e6e6e6;
}
.btn--white:focus {
  box-shadow: 0 0 0 3px rgba(180, 180, 180, 0.4);
}

.btn--red {
  background-color: #ff4d4d; /* или другой красный */
  color: black;
}
.btn--red:hover {
  background-color: #e60000;
}
.btn--red:active {
  transform: scale(0.98);
  background-color: #cc0000;
}
.btn--red:focus {
  box-shadow: 0 0 0 3px rgba(255, 77, 77, 0.4);
}

.btn--bighelp {
  background-color: var(--black);
  
}
