:root {
  --green-club: #9af734;
  --orange: #ff6800;
  --yellow: #dff529;
  --black: #000;

  --main-font: "BeerMoney", sans-serif;
}

@font-face {
  font-family: "BeerMoney";
  src: url("./assets/fonts/BeerMoney-08po.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.base {
  background: repeating-linear-gradient(
    45deg,
    black,
    black 10px,
    var(--green) 10px,
    var(--green) 20px
  );
  width: 100vw;
  height: 100vh;
}
